<div style="background-color:#f5f5f5; padding-top:40px; padding-bottom:40px;">
    <div style="width:792px; overflow:hidden; background-color:#6098CB; margin: 0 auto; box-shadow: 5px -4px 17px -1px #ccc; color:#fff;">
        <div class="row">
            <div class="col-lg-3" style="padding:0;">
                <div style="height:200px; background-color:#fff; box-shadow: 0px 0px 21px 0px #666; overflow:hidden;">
                    <img src="../../app/assert/image/profiler_.jpg" style="width: 100%;" />
                </div>
            </div>
            <div class="col-lg-9" style="margin-top:30px; padding-left:30px;">
                <span style="font-size:30px; font-weight:bolder; display:block;">Mr. Name</span>
                <div style="padding-left:10px;">
                    <span style="font-size:14px; display:block;">Web & UI Developer</span>
                    <div style="margin-top:10px;">
                        <span style="font-size:12px; display:block; margin-bottom:5px;"><span style="margin-right:5px;">No. 50 second cross, kargil nagar, velrampet.</span>                        <i class="fa fa-map-marker"></i></span>
                        <span style="font-size:12px; display:block;"><span style="margin-right:5px;">9715261931</span>
                        <i class="fa fa-phone"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="background-color:#E1E1E1; padding-bottom:15px; padding-right:40px;">
            <div class="col-lg-3" style="padding-left:20px;">
                <titl-with-text-area [cardEdit]="editStatus" [cardMessage]="aboutMessage" [cardTitle]="aboutTitle"></titl-with-text-area>
                <titl-with-text-area [cardEdit]="editStatus" [cardMessage]="objectiveMessage" [cardTitle]="objectiveTitle"></titl-with-text-area>
                <div class="row" style="padding-left:30px;">
                    <h3 style="color:#6098CB; text-transform: uppercase; font-size:16px; font-weight:bold; letter-spacing:1;">Knowledge</h3>
                    <ul style="color:#444; text-transform: uppercase; font-size:11px; padding-left:20px;">
                        <li style="margin-bottom:5px;">install and configure</li>
                        <li style="margin-bottom:5px;">web usability</li>
                    </ul>
                </div>
                <div class="row" style="padding-left:30px; color:#444;">
                    <h3 style="color:#6098CB; text-transform: uppercase; font-size:16px; font-weight:bold; letter-spacing:1;">Skills</h3>
                    <div style="text-transform: uppercase; font-size:12px; margin-bottom:8px;">
                        <div style="margin-bottom:2px;">Wordpress - 80%</div>
                        <div style="border:1px solid #ccc; width:85%;">
                            <div style="width:80%; height:6px; background-color:#6098CB;"></div>
                        </div>
                    </div>
                    <div style="text-transform: uppercase; font-size:12px; margin-bottom:8px;">
                        <div style="margin-bottom:2px;">Html&css - 60%</div>
                        <div style="border:1px solid #ccc; width:85%;">
                            <div style="width:60%; height:6px; background-color:#6098CB;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <card-with-title [cardEdit]="editStatus" [cardArray]="expList" [cardTitle]="workExperienceTitle"></card-with-title>
                <card-with-title [cardEdit]="editStatus" [cardArray]="eduList" [cardTitle]="educationTitle"></card-with-title>
            </div>
        </div>
    </div>
</div>